<% content_for :title, "Editing apartment number" %>

<h1>Editing apartment number</h1>

<%= render "form", apartment_number: @apartment_number %>

<br>

<div>
  <%= link_to "Show this apartment number", @apartment_number %> |
  <%= link_to "Back to apartment numbers", apartment_numbers_path %>
</div>
