<% content_for :title, "Editing specific epartment number" %>

<h1>Editing specific epartment number</h1>

<%= render "form", specific_epartment_number: @specific_epartment_number %>

<br>

<div>
  <%= link_to "Show this specific epartment number", @specific_epartment_number %> |
  <%= link_to "Back to specific epartment numbers", specific_epartment_numbers_path %>
</div>
