<% content_for :title, "New specific epartment number" %>

<h1>New specific epartment number</h1>

<%= render "form", specific_epartment_number: @specific_epartment_number %>

<br>

<div>
  <%= link_to "Back to specific epartment numbers", specific_epartment_numbers_path %>
</div>
