<div id="<%= dom_id room_square %>">
  <p>
    <strong>Name:</strong>
    <%= room_square.name %>
  </p>

  <p>
    <strong>Square:</strong>
    <%= room_square.square %>
  </p>

  <p>
    <strong>Apartment number:</strong>
    <%= room_square.apartment_number_id %>
  </p>

</div>
