<div class='col-sm-12 col-md-6'>
	<div class="row">
		<% Dir.glob(Rails.root.join("app/assets/images/*.{png,jpg,jpeg,gif,svg}")).each do |image_path| %>
			<% image_name = File.basename(image_path, ".*") %>
			<div class="col-md-4 mb-3">
				<div class="card">
					<img src="<%= asset_path(File.basename(image_path)) %>" class="card-img-top" alt="<%= image_name %>">
					<div class="card-body text-center">
						<p class="card-text"><%= image_name %></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
